<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoROmNiV5xr7Q4Gnpco5MKF4uGda1sG0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>168661777099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>automaticscoring-8ec10</string>
	<key>STORAGE_BUCKET</key>
	<string>automaticscoring-8ec10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168661777099:ios:b2eb9771dfe3b19a60b94e</string>
</dict>
</plist>